
/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
-webkit-touch-callout: none;
-webkit-user-select: none;
-ms-touch-action: none;
	touch-action: none;	
-ms-user-select: none;
-moz-user-select: none;
-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.noUi-target {
	position: relative;
	direction: ltr;
}
.noUi-base {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1; /* Fix 401 */
}
.noUi-origin {
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
}
.noUi-handle {
position: relative;
z-index: 1;
}
.noUi-stacking .noUi-handle {
/* This class is applied to the lower origin when
   its values is > 50%. */
z-index: 10;
}
.noUi-state-tap .noUi-origin {
-webkit-transition: left 0.3s, top 0.3s;
transition: left 0.3s, top 0.3s;
}
.noUi-state-drag * {
cursor: inherit !important;
}

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base {
-webkit-transform: translate3d(0,0,0);
transform: translate3d(0,0,0);
}

.noUi-background {
background: white;
-webkit-box-shadow: 0px 0px 0px 1px #ebebeb inset;
-moz-box-shadow: 0px 0px 0px 1px #ebebeb inset;
box-shadow: 0px 0px 0px 1px #ebebeb inset;
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
	height: 6px;
}
.noUi-horizontal .noUi-handle {
	left: -5px;
	top: -4px;
}

/* Styling;
 */
.noUi-connect {
background: #bfbfbf;
}

/* Handles and cursors;
 */
.noUi-handle {
cursor: ew-resize;
outline: none;

height: 12px;
width: 12px;
background: white;
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
border: 1px solid #bfbfbf;
}
.noUi-active {
background: #ebebeb;
}




/* WooCoommerce Slider styles */

