
html, body {margin: 0; height: 100%; overflow: hidden}

body{
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-origin: border-box;
}

.map{
    width: 55%;
    margin: auto;
    margin-right: 25%;
    transform: scale(0.95);
    z-index: 10;
    margin-top: 2em;
}

.cards{
    margin-left: -9em;margin-top: -45em;position: absolute;
}

.map path{
    fill:rgb(254, 252, 229);
    stroke:	rgb(254, 252, 229);
    stroke-width: 0.8px;
    transition: fill 0.8s;
}

.map path:hover{
    fill: rgb(255, 141, 132);;
    animation-duration: 1s; /* don't forget to set a duration! */

}
.card-city{
    animation-duration: 1.5s; /* don't forget to set a duration! */
}

@media (max-width: 1024px){
    .map {
        width: 55%;
        margin: auto;
        margin-right: 43%;
        transform: scale(0.95);
        z-index: 10;
        margin-top: 2em;
    }

    .cards{
        margin-left: 1em;
        margin-top: -50em;
        position: absolute;
    }
    
}

@media (max-width: 800px){
    .map {
        width: 36%;
        margin: auto;
        margin-right: 66%;
        transform: scale(0.95);
        z-index: 10;
        margin-top: 12em;
    }
}

@media (max-width: 604px){
    .map {
        width: 27%;
        margin: auto;
        margin-right: 73%;
        transform: scale(0.75);
        z-index: 10;
        margin-top: 6em;
    }
}

@media (max-width: 533px){
    .map {
        width: 27%;
        margin: auto;
        margin-right: 73%;
        transform: scale(0.60);
        z-index: 10;
        margin-top: -2em;
    }
}


@media (max-width: 411px){
    .cards {
        margin-left: 8.5em;
        margin-top: -54.5em;
        position: absolute;
    }
    .map {
        /* width: 71%; */
        margin: auto;
        margin-right: 80%;
        transform: scale(0.65);
        margin-left: -23%;
        z-index: 10;
        margin-top: 2em;
    }
}

@media (max-width: 375px){
    .map {
        margin: auto;
        margin-right: 73%;
        margin-left: -32%;
        transform: scale(0.65);
        margin-top: 5em;
    }
    .cards {
        margin-left: 11em;
        margin-top: -54em;
        position: absolute;
    }
}

@media (max-width: 360px){
    .map {
        margin: auto;
        margin-right: 73%;
        margin-left: -32%;
        transform: scale(0.62);
        margin-top: -2em;
    }

    .cards {
        margin-left: 10.8em;
        margin-top: -55em;
        position: absolute;
    }
}

@media (max-width: 320px){
    .map {
        margin: auto;
        margin-right: 73%;
        margin-left: -26%;
        transform: scale(0.51);
        margin-top: -5em;
    }
}


/* font */

.small { font: italic bold 13px sans-serif; }

/* image */
.plane{
    background-image: url('../images/2-01.png');
    background-repeat: no-repeat;
    width: 600px;
    height: 200px;
}
.images-x{
    position: relative;
}