@font-face {
	font-family: 'rcci';
	src:url('rcci.eot?p9iupg');
	src:url('rcci.eot?p9iupg#iefix') format('embedded-opentype'),
		url('rcci.ttf?p9iupg') format('truetype'),
		url('rcci.woff?p9iupg') format('woff'),
		url('rcci.svg?p9iupg#rcci') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="rcci-"], [class*=" rcci-"] {
	font-family: 'rcci';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.rcci-glass:before {
	content: "\f000";
}
.rcci-music:before {
	content: "\f001";
}
.rcci-search:before {
	content: "\f002";
}
.rcci-envelope-o:before {
	content: "\f003";
}
.rcci-heart:before {
	content: "\f004";
}
.rcci-star:before {
	content: "\f005";
}
.rcci-star-o:before {
	content: "\f006";
}
.rcci-user:before {
	content: "\f007";
}
.rcci-film:before {
	content: "\f008";
}
.rcci-th-large:before {
	content: "\f009";
}
.rcci-th:before {
	content: "\f00a";
}
.rcci-th-list:before {
	content: "\f00b";
}
.rcci-check:before {
	content: "\f00c";
}
.rcci-close:before {
	content: "\f00d";
}
.rcci-search-plus:before {
	content: "\f00e";
}
.rcci-search-minus:before {
	content: "\f010";
}
.rcci-power-off:before {
	content: "\f011";
}
.rcci-signal:before {
	content: "\f012";
}
.rcci-cog:before {
	content: "\f013";
}
.rcci-trash-o:before {
	content: "\f014";
}
.rcci-home:before {
	content: "\f015";
}
.rcci-file-o:before {
	content: "\f016";
}
.rcci-clock-o:before {
	content: "\f017";
}
.rcci-road:before {
	content: "\f018";
}
.rcci-download:before {
	content: "\f019";
}
.rcci-arrow-circle-o-down:before {
	content: "\f01a";
}
.rcci-arrow-circle-o-up:before {
	content: "\f01b";
}
.rcci-inbox:before {
	content: "\f01c";
}
.rcci-play-circle-o:before {
	content: "\f01d";
}
.rcci-repeat:before {
	content: "\f01e";
}
.rcci-refresh:before {
	content: "\f021";
}
.rcci-list-alt:before {
	content: "\f022";
}
.rcci-lock:before {
	content: "\f023";
}
.rcci-flag:before {
	content: "\f024";
}
.rcci-headphones:before {
	content: "\f025";
}
.rcci-volume-off:before {
	content: "\f026";
}
.rcci-volume-down:before {
	content: "\f027";
}
.rcci-volume-up:before {
	content: "\f028";
}
.rcci-qrcode:before {
	content: "\f029";
}
.rcci-barcode:before {
	content: "\f02a";
}
.rcci-tag:before {
	content: "\f02b";
}
.rcci-tags:before {
	content: "\f02c";
}
.rcci-book:before {
	content: "\f02d";
}
.rcci-bookmark:before {
	content: "\f02e";
}
.rcci-print:before {
	content: "\f02f";
}
.rcci-camera:before {
	content: "\f030";
}
.rcci-font:before {
	content: "\f031";
}
.rcci-bold:before {
	content: "\f032";
}
.rcci-italic:before {
	content: "\f033";
}
.rcci-text-height:before {
	content: "\f034";
}
.rcci-text-width:before {
	content: "\f035";
}
.rcci-align-left:before {
	content: "\f036";
}
.rcci-align-center:before {
	content: "\f037";
}
.rcci-align-right:before {
	content: "\f038";
}
.rcci-align-justify:before {
	content: "\f039";
}
.rcci-list:before {
	content: "\f03a";
}
.rcci-dedent:before {
	content: "\f03b";
}
.rcci-indent:before {
	content: "\f03c";
}
.rcci-video-camera:before {
	content: "\f03d";
}
.rcci-image:before {
	content: "\f03e";
}
.rcci-pencil:before {
	content: "\f040";
}
.rcci-map-marker:before {
	content: "\f041";
}
.rcci-adjust:before {
	content: "\f042";
}
.rcci-tint:before {
	content: "\f043";
}
.rcci-edit:before {
	content: "\f044";
}
.rcci-share-square-o:before {
	content: "\f045";
}
.rcci-check-square-o:before {
	content: "\f046";
}
.rcci-arrows:before {
	content: "\f047";
}
.rcci-step-backward:before {
	content: "\f048";
}
.rcci-fast-backward:before {
	content: "\f049";
}
.rcci-backward:before {
	content: "\f04a";
}
.rcci-play:before {
	content: "\f04b";
}
.rcci-pause:before {
	content: "\f04c";
}
.rcci-stop:before {
	content: "\f04d";
}
.rcci-forward:before {
	content: "\f04e";
}
.rcci-fast-forward:before {
	content: "\f050";
}
.rcci-step-forward:before {
	content: "\f051";
}
.rcci-eject:before {
	content: "\f052";
}
.rcci-chevron-left:before {
	content: "\f053";
}
.rcci-chevron-right:before {
	content: "\f054";
}
.rcci-plus-circle:before {
	content: "\f055";
}
.rcci-minus-circle:before {
	content: "\f056";
}
.rcci-times-circle:before {
	content: "\f057";
}
.rcci-check-circle:before {
	content: "\f058";
}
.rcci-question-circle:before {
	content: "\f059";
}
.rcci-info-circle:before {
	content: "\f05a";
}
.rcci-crosshairs:before {
	content: "\f05b";
}
.rcci-times-circle-o:before {
	content: "\f05c";
}
.rcci-check-circle-o:before {
	content: "\f05d";
}
.rcci-ban:before {
	content: "\f05e";
}
.rcci-arrow-left:before {
	content: "\f060";
}
.rcci-arrow-right:before {
	content: "\f061";
}
.rcci-arrow-up:before {
	content: "\f062";
}
.rcci-arrow-down:before {
	content: "\f063";
}
.rcci-mail-forward:before {
	content: "\f064";
}
.rcci-expand:before {
	content: "\f065";
}
.rcci-compress:before {
	content: "\f066";
}
.rcci-plus:before {
	content: "\f067";
}
.rcci-minus:before {
	content: "\f068";
}
.rcci-asterisk:before {
	content: "\f069";
}
.rcci-exclamation-circle:before {
	content: "\f06a";
}
.rcci-gift:before {
	content: "\f06b";
}
.rcci-leaf:before {
	content: "\f06c";
}
.rcci-fire:before {
	content: "\f06d";
}
.rcci-eye:before {
	content: "\f06e";
}
.rcci-eye-slash:before {
	content: "\f070";
}
.rcci-exclamation-triangle:before {
	content: "\f071";
}
.rcci-plane:before {
	content: "\f072";
}
.rcci-calendar:before {
	content: "\f073";
}
.rcci-random:before {
	content: "\f074";
}
.rcci-comment:before {
	content: "\f075";
}
.rcci-magnet:before {
	content: "\f076";
}
.rcci-chevron-up:before {
	content: "\f077";
}
.rcci-chevron-down:before {
	content: "\f078";
}
.rcci-retweet:before {
	content: "\f079";
}
.rcci-shopping-cart:before {
	content: "\f07a";
}
.rcci-folder:before {
	content: "\f07b";
}
.rcci-folder-open:before {
	content: "\f07c";
}
.rcci-arrows-v:before {
	content: "\f07d";
}
.rcci-arrows-h:before {
	content: "\f07e";
}
.rcci-bar-chart:before {
	content: "\f080";
}
.rcci-twitter-square:before {
	content: "\f081";
}
.rcci-facebook-square:before {
	content: "\f082";
}
.rcci-camera-retro:before {
	content: "\f083";
}
.rcci-key:before {
	content: "\f084";
}
.rcci-cogs:before {
	content: "\f085";
}
.rcci-comments:before {
	content: "\f086";
}
.rcci-thumbs-o-up:before {
	content: "\f087";
}
.rcci-thumbs-o-down:before {
	content: "\f088";
}
.rcci-star-half:before {
	content: "\f089";
}
.rcci-heart-o:before {
	content: "\f08a";
}
.rcci-sign-out:before {
	content: "\f08b";
}
.rcci-linkedin-square:before {
	content: "\f08c";
}
.rcci-thumb-tack:before {
	content: "\f08d";
}
.rcci-external-link:before {
	content: "\f08e";
}
.rcci-sign-in:before {
	content: "\f090";
}
.rcci-trophy:before {
	content: "\f091";
}
.rcci-github-square:before {
	content: "\f092";
}
.rcci-upload:before {
	content: "\f093";
}
.rcci-lemon-o:before {
	content: "\f094";
}
.rcci-phone:before {
	content: "\f095";
}
.rcci-square-o:before {
	content: "\f096";
}
.rcci-bookmark-o:before {
	content: "\f097";
}
.rcci-phone-square:before {
	content: "\f098";
}
.rcci-twitter:before {
	content: "\f099";
}
.rcci-facebook:before {
	content: "\f09a";
}
.rcci-github:before {
	content: "\f09b";
}
.rcci-unlock:before {
	content: "\f09c";
}
.rcci-credit-card:before {
	content: "\f09d";
}
.rcci-feed:before {
	content: "\f09e";
}
.rcci-hdd-o:before {
	content: "\f0a0";
}
.rcci-bullhorn:before {
	content: "\f0a1";
}
.rcci-bell-o:before {
	content: "\f0a2";
}
.rcci-certificate:before {
	content: "\f0a3";
}
.rcci-hand-o-right:before {
	content: "\f0a4";
}
.rcci-hand-o-left:before {
	content: "\f0a5";
}
.rcci-hand-o-up:before {
	content: "\f0a6";
}
.rcci-hand-o-down:before {
	content: "\f0a7";
}
.rcci-arrow-circle-left:before {
	content: "\f0a8";
}
.rcci-arrow-circle-right:before {
	content: "\f0a9";
}
.rcci-arrow-circle-up:before {
	content: "\f0aa";
}
.rcci-arrow-circle-down:before {
	content: "\f0ab";
}
.rcci-globe:before {
	content: "\f0ac";
}
.rcci-wrench:before {
	content: "\f0ad";
}
.rcci-tasks:before {
	content: "\f0ae";
}
.rcci-filter:before {
	content: "\f0b0";
}
.rcci-briefcase:before {
	content: "\f0b1";
}
.rcci-arrows-alt:before {
	content: "\f0b2";
}
.rcci-group:before {
	content: "\f0c0";
}
.rcci-chain:before {
	content: "\f0c1";
}
.rcci-cloud:before {
	content: "\f0c2";
}
.rcci-flask:before {
	content: "\f0c3";
}
.rcci-cut:before {
	content: "\f0c4";
}
.rcci-copy:before {
	content: "\f0c5";
}
.rcci-paperclip:before {
	content: "\f0c6";
}
.rcci-floppy-o:before {
	content: "\f0c7";
}
.rcci-square:before {
	content: "\f0c8";
}
.rcci-bars:before {
	content: "\f0c9";
}
.rcci-list-ul:before {
	content: "\f0ca";
}
.rcci-list-ol:before {
	content: "\f0cb";
}
.rcci-strikethrough:before {
	content: "\f0cc";
}
.rcci-underline:before {
	content: "\f0cd";
}
.rcci-table:before {
	content: "\f0ce";
}
.rcci-magic:before {
	content: "\f0d0";
}
.rcci-truck:before {
	content: "\f0d1";
}
.rcci-pinterest:before {
	content: "\f0d2";
}
.rcci-pinterest-square:before {
	content: "\f0d3";
}
.rcci-google-plus-square:before {
	content: "\f0d4";
}
.rcci-google-plus:before {
	content: "\f0d5";
}
.rcci-money:before {
	content: "\f0d6";
}
.rcci-caret-down:before {
	content: "\f0d7";
}
.rcci-caret-up:before {
	content: "\f0d8";
}
.rcci-caret-left:before {
	content: "\f0d9";
}
.rcci-caret-right:before {
	content: "\f0da";
}
.rcci-columns:before {
	content: "\f0db";
}
.rcci-sort:before {
	content: "\f0dc";
}
.rcci-sort-desc:before {
	content: "\f0dd";
}
.rcci-sort-asc:before {
	content: "\f0de";
}
.rcci-envelope:before {
	content: "\f0e0";
}
.rcci-linkedin:before {
	content: "\f0e1";
}
.rcci-rotate-left:before {
	content: "\f0e2";
}
.rcci-gavel:before {
	content: "\f0e3";
}
.rcci-dashboard:before {
	content: "\f0e4";
}
.rcci-comment-o:before {
	content: "\f0e5";
}
.rcci-comments-o:before {
	content: "\f0e6";
}
.rcci-bolt:before {
	content: "\f0e7";
}
.rcci-sitemap:before {
	content: "\f0e8";
}
.rcci-umbrella:before {
	content: "\f0e9";
}
.rcci-clipboard:before {
	content: "\f0ea";
}
.rcci-lightbulb-o:before {
	content: "\f0eb";
}
.rcci-exchange:before {
	content: "\f0ec";
}
.rcci-cloud-download:before {
	content: "\f0ed";
}
.rcci-cloud-upload:before {
	content: "\f0ee";
}
.rcci-user-md:before {
	content: "\f0f0";
}
.rcci-stethoscope:before {
	content: "\f0f1";
}
.rcci-suitcase:before {
	content: "\f0f2";
}
.rcci-bell:before {
	content: "\f0f3";
}
.rcci-coffee:before {
	content: "\f0f4";
}
.rcci-cutlery:before {
	content: "\f0f5";
}
.rcci-file-text-o:before {
	content: "\f0f6";
}
.rcci-building-o:before {
	content: "\f0f7";
}
.rcci-hospital-o:before {
	content: "\f0f8";
}
.rcci-ambulance:before {
	content: "\f0f9";
}
.rcci-medkit:before {
	content: "\f0fa";
}
.rcci-fighter-jet:before {
	content: "\f0fb";
}
.rcci-beer:before {
	content: "\f0fc";
}
.rcci-h-square:before {
	content: "\f0fd";
}
.rcci-plus-square:before {
	content: "\f0fe";
}
.rcci-angle-double-left:before {
	content: "\f100";
}
.rcci-angle-double-right:before {
	content: "\f101";
}
.rcci-angle-double-up:before {
	content: "\f102";
}
.rcci-angle-double-down:before {
	content: "\f103";
}
.rcci-angle-left:before {
	content: "\f104";
}
.rcci-angle-right:before {
	content: "\f105";
}
.rcci-angle-up:before {
	content: "\f106";
}
.rcci-angle-down:before {
	content: "\f107";
}
.rcci-desktop:before {
	content: "\f108";
}
.rcci-laptop:before {
	content: "\f109";
}
.rcci-tablet:before {
	content: "\f10a";
}
.rcci-mobile:before {
	content: "\f10b";
}
.rcci-circle-o:before {
	content: "\f10c";
}
.rcci-quote-left:before {
	content: "\f10d";
}
.rcci-quote-right:before {
	content: "\f10e";
}
.rcci-spinner:before {
	content: "\f110";
}
.rcci-circle:before {
	content: "\f111";
}
.rcci-mail-reply:before {
	content: "\f112";
}
.rcci-github-alt:before {
	content: "\f113";
}
.rcci-folder-o:before {
	content: "\f114";
}
.rcci-folder-open-o:before {
	content: "\f115";
}
.rcci-smile-o:before {
	content: "\f118";
}
.rcci-frown-o:before {
	content: "\f119";
}
.rcci-meh-o:before {
	content: "\f11a";
}
.rcci-gamepad:before {
	content: "\f11b";
}
.rcci-keyboard-o:before {
	content: "\f11c";
}
.rcci-flag-o:before {
	content: "\f11d";
}
.rcci-flag-checkered:before {
	content: "\f11e";
}
.rcci-terminal:before {
	content: "\f120";
}
.rcci-code:before {
	content: "\f121";
}
.rcci-mail-reply-all:before {
	content: "\f122";
}
.rcci-star-half-empty:before {
	content: "\f123";
}
.rcci-location-arrow:before {
	content: "\f124";
}
.rcci-crop:before {
	content: "\f125";
}
.rcci-code-fork:before {
	content: "\f126";
}
.rcci-chain-broken:before {
	content: "\f127";
}
.rcci-question:before {
	content: "\f128";
}
.rcci-info:before {
	content: "\f129";
}
.rcci-exclamation:before {
	content: "\f12a";
}
.rcci-superscript:before {
	content: "\f12b";
}
.rcci-subscript:before {
	content: "\f12c";
}
.rcci-eraser:before {
	content: "\f12d";
}
.rcci-puzzle-piece:before {
	content: "\f12e";
}
.rcci-microphone:before {
	content: "\f130";
}
.rcci-microphone-slash:before {
	content: "\f131";
}
.rcci-shield:before {
	content: "\f132";
}
.rcci-calendar-o:before {
	content: "\f133";
}
.rcci-fire-extinguisher:before {
	content: "\f134";
}
.rcci-rocket:before {
	content: "\f135";
}
.rcci-maxcdn:before {
	content: "\f136";
}
.rcci-chevron-circle-left:before {
	content: "\f137";
}
.rcci-chevron-circle-right:before {
	content: "\f138";
}
.rcci-chevron-circle-up:before {
	content: "\f139";
}
.rcci-chevron-circle-down:before {
	content: "\f13a";
}
.rcci-html5:before {
	content: "\f13b";
}
.rcci-css3:before {
	content: "\f13c";
}
.rcci-anchor:before {
	content: "\f13d";
}
.rcci-unlock-alt:before {
	content: "\f13e";
}
.rcci-bullseye:before {
	content: "\f140";
}
.rcci-ellipsis-h:before {
	content: "\f141";
}
.rcci-ellipsis-v:before {
	content: "\f142";
}
.rcci-rss-square:before {
	content: "\f143";
}
.rcci-play-circle:before {
	content: "\f144";
}
.rcci-ticket:before {
	content: "\f145";
}
.rcci-minus-square:before {
	content: "\f146";
}
.rcci-minus-square-o:before {
	content: "\f147";
}
.rcci-level-up:before {
	content: "\f148";
}
.rcci-level-down:before {
	content: "\f149";
}
.rcci-check-square:before {
	content: "\f14a";
}
.rcci-pencil-square:before {
	content: "\f14b";
}
.rcci-external-link-square:before {
	content: "\f14c";
}
.rcci-share-square:before {
	content: "\f14d";
}
.rcci-compass:before {
	content: "\f14e";
}
.rcci-caret-square-o-down:before {
	content: "\f150";
}
.rcci-caret-square-o-up:before {
	content: "\f151";
}
.rcci-caret-square-o-right:before {
	content: "\f152";
}
.rcci-eur:before {
	content: "\f153";
}
.rcci-gbp:before {
	content: "\f154";
}
.rcci-dollar:before {
	content: "\f155";
}
.rcci-inr:before {
	content: "\f156";
}
.rcci-cny:before {
	content: "\f157";
}
.rcci-rouble:before {
	content: "\f158";
}
.rcci-krw:before {
	content: "\f159";
}
.rcci-bitcoin:before {
	content: "\f15a";
}
.rcci-file:before {
	content: "\f15b";
}
.rcci-file-text:before {
	content: "\f15c";
}
.rcci-sort-alpha-asc:before {
	content: "\f15d";
}
.rcci-sort-alpha-desc:before {
	content: "\f15e";
}
.rcci-sort-amount-asc:before {
	content: "\f160";
}
.rcci-sort-amount-desc:before {
	content: "\f161";
}
.rcci-sort-numeric-asc:before {
	content: "\f162";
}
.rcci-sort-numeric-desc:before {
	content: "\f163";
}
.rcci-thumbs-up:before {
	content: "\f164";
}
.rcci-thumbs-down:before {
	content: "\f165";
}
.rcci-youtube-square:before {
	content: "\f166";
}
.rcci-youtube:before {
	content: "\f167";
}
.rcci-xing:before {
	content: "\f168";
}
.rcci-xing-square:before {
	content: "\f169";
}
.rcci-youtube-play:before {
	content: "\f16a";
}
.rcci-dropbox:before {
	content: "\f16b";
}
.rcci-stack-overflow:before {
	content: "\f16c";
}
.rcci-instagram2:before {
	content: "\f16d";
}
.rcci-flickr:before {
	content: "\f16e";
}
.rcci-adn:before {
	content: "\f170";
}
.rcci-bitbucket:before {
	content: "\f171";
}
.rcci-bitbucket-square:before {
	content: "\f172";
}
.rcci-tumblr:before {
	content: "\f173";
}
.rcci-tumblr-square:before {
	content: "\f174";
}
.rcci-long-arrow-down:before {
	content: "\f175";
}
.rcci-long-arrow-up:before {
	content: "\f176";
}
.rcci-long-arrow-left:before {
	content: "\f177";
}
.rcci-long-arrow-right:before {
	content: "\f178";
}
.rcci-apple:before {
	content: "\f179";
}
.rcci-windows:before {
	content: "\f17a";
}
.rcci-android:before {
	content: "\f17b";
}
.rcci-linux:before {
	content: "\f17c";
}
.rcci-dribbble:before {
	content: "\f17d";
}
.rcci-skype:before {
	content: "\f17e";
}
.rcci-foursquare:before {
	content: "\f180";
}
.rcci-trello:before {
	content: "\f181";
}
.rcci-female:before {
	content: "\f182";
}
.rcci-male:before {
	content: "\f183";
}
.rcci-gittip:before {
	content: "\f184";
}
.rcci-sun-o:before {
	content: "\f185";
}
.rcci-moon-o:before {
	content: "\f186";
}
.rcci-archive:before {
	content: "\f187";
}
.rcci-bug:before {
	content: "\f188";
}
.rcci-vk:before {
	content: "\f189";
}
.rcci-weibo:before {
	content: "\f18a";
}
.rcci-renren:before {
	content: "\f18b";
}
.rcci-pagelines:before {
	content: "\f18c";
}
.rcci-stack-exchange:before {
	content: "\f18d";
}
.rcci-arrow-circle-o-right:before {
	content: "\f18e";
}
.rcci-arrow-circle-o-left:before {
	content: "\f190";
}
.rcci-caret-square-o-left:before {
	content: "\f191";
}
.rcci-dot-circle-o:before {
	content: "\f192";
}
.rcci-wheelchair:before {
	content: "\f193";
}
.rcci-vimeo-square:before {
	content: "\f194";
}
.rcci-try:before {
	content: "\f195";
}
.rcci-plus-square-o:before {
	content: "\f196";
}
.rcci-space-shuttle:before {
	content: "\f197";
}
.rcci-slack:before {
	content: "\f198";
}
.rcci-envelope-square:before {
	content: "\f199";
}
.rcci-wordpress:before {
	content: "\f19a";
}
.rcci-openid:before {
	content: "\f19b";
}
.rcci-bank:before {
	content: "\f19c";
}
.rcci-graduation-cap:before {
	content: "\f19d";
}
.rcci-yahoo:before {
	content: "\f19e";
}
.rcci-google:before {
	content: "\f1a0";
}
.rcci-reddit:before {
	content: "\f1a1";
}
.rcci-reddit-square:before {
	content: "\f1a2";
}
.rcci-stumbleupon-circle:before {
	content: "\f1a3";
}
.rcci-stumbleupon:before {
	content: "\f1a4";
}
.rcci-delicious:before {
	content: "\f1a5";
}
.rcci-digg:before {
	content: "\f1a6";
}
.rcci-pied-piper:before {
	content: "\f1a7";
}
.rcci-pied-piper-alt:before {
	content: "\f1a8";
}
.rcci-drupal:before {
	content: "\f1a9";
}
.rcci-joomla:before {
	content: "\f1aa";
}
.rcci-language:before {
	content: "\f1ab";
}
.rcci-fax:before {
	content: "\f1ac";
}
.rcci-building:before {
	content: "\f1ad";
}
.rcci-child:before {
	content: "\f1ae";
}
.rcci-paw:before {
	content: "\f1b0";
}
.rcci-spoon:before {
	content: "\f1b1";
}
.rcci-cube:before {
	content: "\f1b2";
}
.rcci-cubes:before {
	content: "\f1b3";
}
.rcci-behance:before {
	content: "\f1b4";
}
.rcci-behance-square:before {
	content: "\f1b5";
}
.rcci-steam:before {
	content: "\f1b6";
}
.rcci-steam-square:before {
	content: "\f1b7";
}
.rcci-recycle:before {
	content: "\f1b8";
}
.rcci-automobile:before {
	content: "\f1b9";
}
.rcci-cab:before {
	content: "\f1ba";
}
.rcci-tree:before {
	content: "\f1bb";
}
.rcci-spotify:before {
	content: "\f1bc";
}
.rcci-deviantart:before {
	content: "\f1bd";
}
.rcci-soundcloud:before {
	content: "\f1be";
}
.rcci-database:before {
	content: "\f1c0";
}
.rcci-file-pdf-o:before {
	content: "\f1c1";
}
.rcci-file-word-o:before {
	content: "\f1c2";
}
.rcci-file-excel-o:before {
	content: "\f1c3";
}
.rcci-file-powerpoint-o:before {
	content: "\f1c4";
}
.rcci-file-image-o:before {
	content: "\f1c5";
}
.rcci-file-archive-o:before {
	content: "\f1c6";
}
.rcci-file-audio-o:before {
	content: "\f1c7";
}
.rcci-file-movie-o:before {
	content: "\f1c8";
}
.rcci-file-code-o:before {
	content: "\f1c9";
}
.rcci-vine:before {
	content: "\f1ca";
}
.rcci-codepen:before {
	content: "\f1cb";
}
.rcci-jsfiddle:before {
	content: "\f1cc";
}
.rcci-life-bouy:before {
	content: "\f1cd";
}
.rcci-circle-o-notch:before {
	content: "\f1ce";
}
.rcci-ra:before {
	content: "\f1d0";
}
.rcci-empire:before {
	content: "\f1d1";
}
.rcci-git-square:before {
	content: "\f1d2";
}
.rcci-git:before {
	content: "\f1d3";
}
.rcci-hacker-news:before {
	content: "\f1d4";
}
.rcci-tencent-weibo:before {
	content: "\f1d5";
}
.rcci-qq:before {
	content: "\f1d6";
}
.rcci-wechat:before {
	content: "\f1d7";
}
.rcci-paper-plane:before {
	content: "\f1d8";
}
.rcci-paper-plane-o:before {
	content: "\f1d9";
}
.rcci-history:before {
	content: "\f1da";
}
.rcci-circle-thin:before {
	content: "\f1db";
}
.rcci-header:before {
	content: "\f1dc";
}
.rcci-paragraph:before {
	content: "\f1dd";
}
.rcci-sliders:before {
	content: "\f1de";
}
.rcci-share-alt:before {
	content: "\f1e0";
}
.rcci-share-alt-square:before {
	content: "\f1e1";
}
.rcci-bomb:before {
	content: "\f1e2";
}
.rcci-futbol-o:before {
	content: "\f1e3";
}
.rcci-tty:before {
	content: "\f1e4";
}
.rcci-binoculars:before {
	content: "\f1e5";
}
.rcci-plug:before {
	content: "\f1e6";
}
.rcci-slideshare:before {
	content: "\f1e7";
}
.rcci-twitch:before {
	content: "\f1e8";
}
.rcci-yelp:before {
	content: "\f1e9";
}
.rcci-newspaper-o:before {
	content: "\f1ea";
}
.rcci-wifi:before {
	content: "\f1eb";
}
.rcci-calculator:before {
	content: "\f1ec";
}
.rcci-paypal:before {
	content: "\f1ed";
}
.rcci-google-wallet:before {
	content: "\f1ee";
}
.rcci-cc-visa:before {
	content: "\f1f0";
}
.rcci-cc-mastercard:before {
	content: "\f1f1";
}
.rcci-cc-discover:before {
	content: "\f1f2";
}
.rcci-cc-amex:before {
	content: "\f1f3";
}
.rcci-cc-paypal:before {
	content: "\f1f4";
}
.rcci-cc-stripe:before {
	content: "\f1f5";
}
.rcci-bell-slash:before {
	content: "\f1f6";
}
.rcci-bell-slash-o:before {
	content: "\f1f7";
}
.rcci-trash:before {
	content: "\f1f8";
}
.rcci-copyright:before {
	content: "\f1f9";
}
.rcci-at:before {
	content: "\f1fa";
}
.rcci-eyedropper:before {
	content: "\f1fb";
}
.rcci-paint-brush:before {
	content: "\f1fc";
}
.rcci-birthday-cake:before {
	content: "\f1fd";
}
.rcci-area-chart:before {
	content: "\f1fe";
}
.rcci-pie-chart:before {
	content: "\f200";
}
.rcci-line-chart:before {
	content: "\f201";
}
.rcci-lastfm:before {
	content: "\f202";
}
.rcci-lastfm-square:before {
	content: "\f203";
}
.rcci-toggle-off:before {
	content: "\f204";
}
.rcci-toggle-on:before {
	content: "\f205";
}
.rcci-bicycle:before {
	content: "\f206";
}
.rcci-bus:before {
	content: "\f207";
}
.rcci-ioxhost:before {
	content: "\f208";
}
.rcci-angellist:before {
	content: "\f209";
}
.rcci-cc:before {
	content: "\f20a";
}
.rcci-ils:before {
	content: "\f20b";
}
.rcci-meanpath:before {
	content: "\f20c";
}
.rcci-buysellads:before {
	content: "\f20d";
}
.rcci-connectdevelop:before {
	content: "\f20e";
}
.rcci-dashcube:before {
	content: "\f210";
}
.rcci-forumbee:before {
	content: "\f211";
}
.rcci-leanpub:before {
	content: "\f212";
}
.rcci-sellsy:before {
	content: "\f213";
}
.rcci-shirtsinbulk:before {
	content: "\f214";
}
.rcci-simplybuilt:before {
	content: "\f215";
}
.rcci-skyatlas:before {
	content: "\f216";
}
.rcci-cart-plus:before {
	content: "\f217";
}
.rcci-cart-arrow-down:before {
	content: "\f218";
}
.rcci-diamond:before {
	content: "\f219";
}
.rcci-ship:before {
	content: "\f21a";
}
.rcci-user-secret:before {
	content: "\f21b";
}
.rcci-motorcycle:before {
	content: "\f21c";
}
.rcci-street-view:before {
	content: "\f21d";
}
.rcci-heartbeat:before {
	content: "\f21e";
}
.rcci-venus:before {
	content: "\f221";
}
.rcci-mars:before {
	content: "\f222";
}
.rcci-mercury:before {
	content: "\f223";
}
.rcci-intersex:before {
	content: "\f224";
}
.rcci-transgender-alt:before {
	content: "\f225";
}
.rcci-venus-double:before {
	content: "\f226";
}
.rcci-mars-double:before {
	content: "\f227";
}
.rcci-venus-mars:before {
	content: "\f228";
}
.rcci-mars-stroke:before {
	content: "\f229";
}
.rcci-mars-stroke-v:before {
	content: "\f22a";
}
.rcci-mars-stroke-h:before {
	content: "\f22b";
}
.rcci-neuter:before {
	content: "\f22c";
}
.rcci-genderless:before {
	content: "\f22d";
}
.rcci-facebook-official:before {
	content: "\f230";
}
.rcci-pinterest-p:before {
	content: "\f231";
}
.rcci-whatsapp:before {
	content: "\f232";
}
.rcci-server:before {
	content: "\f233";
}
.rcci-user-plus:before {
	content: "\f234";
}
.rcci-user-times:before {
	content: "\f235";
}
.rcci-bed:before {
	content: "\f236";
}
.rcci-viacoin:before {
	content: "\f237";
}
.rcci-train:before {
	content: "\f238";
}
.rcci-subway:before {
	content: "\f239";
}
.rcci-medium:before {
	content: "\f23a";
}
.rcci-y-combinator:before {
	content: "\f23b";
}
.rcci-optin-monster:before {
	content: "\f23c";
}
.rcci-opencart:before {
	content: "\f23d";
}
.rcci-expeditedssl:before {
	content: "\f23e";
}
.rcci-battery-4:before {
	content: "\f240";
}
.rcci-battery-3:before {
	content: "\f241";
}
.rcci-battery-2:before {
	content: "\f242";
}
.rcci-battery-1:before {
	content: "\f243";
}
.rcci-battery-0:before {
	content: "\f244";
}
.rcci-mouse-pointer:before {
	content: "\f245";
}
.rcci-i-cursor:before {
	content: "\f246";
}
.rcci-object-group:before {
	content: "\f247";
}
.rcci-object-ungroup:before {
	content: "\f248";
}
.rcci-sticky-note:before {
	content: "\f249";
}
.rcci-sticky-note-o:before {
	content: "\f24a";
}
.rcci-cc-jcb:before {
	content: "\f24b";
}
.rcci-cc-diners-club:before {
	content: "\f24c";
}
.rcci-clone:before {
	content: "\f24d";
}
.rcci-balance-scale:before {
	content: "\f24e";
}
.rcci-hourglass-o:before {
	content: "\f250";
}
.rcci-hourglass-1:before {
	content: "\f251";
}
.rcci-hourglass-2:before {
	content: "\f252";
}
.rcci-hourglass-3:before {
	content: "\f253";
}
.rcci-hourglass:before {
	content: "\f254";
}
.rcci-hand-grab-o:before {
	content: "\f255";
}
.rcci-hand-paper-o:before {
	content: "\f256";
}
.rcci-hand-scissors-o:before {
	content: "\f257";
}
.rcci-hand-lizard-o:before {
	content: "\f258";
}
.rcci-hand-spock-o:before {
	content: "\f259";
}
.rcci-hand-pointer-o:before {
	content: "\f25a";
}
.rcci-hand-peace-o:before {
	content: "\f25b";
}
.rcci-trademark:before {
	content: "\f25c";
}
.rcci-registered:before {
	content: "\f25d";
}
.rcci-creative-commons:before {
	content: "\f25e";
}
.rcci-gg:before {
	content: "\f260";
}
.rcci-gg-circle:before {
	content: "\f261";
}
.rcci-tripadvisor:before {
	content: "\f262";
}
.rcci-odnoklassniki:before {
	content: "\f263";
}
.rcci-odnoklassniki-square:before {
	content: "\f264";
}
.rcci-get-pocket:before {
	content: "\f265";
}
.rcci-wikipedia-w:before {
	content: "\f266";
}
.rcci-safari:before {
	content: "\f267";
}
.rcci-chrome:before {
	content: "\f268";
}
.rcci-firefox:before {
	content: "\f269";
}
.rcci-opera:before {
	content: "\f26a";
}
.rcci-internet-explorer:before {
	content: "\f26b";
}
.rcci-television:before {
	content: "\f26c";
}
.rcci-contao:before {
	content: "\f26d";
}
.rcci-500px:before {
	content: "\f26e";
}
.rcci-amazon:before {
	content: "\f270";
}
.rcci-calendar-plus-o:before {
	content: "\f271";
}
.rcci-calendar-minus-o:before {
	content: "\f272";
}
.rcci-calendar-times-o:before {
	content: "\f273";
}
.rcci-calendar-check-o:before {
	content: "\f274";
}
.rcci-industry:before {
	content: "\f275";
}
.rcci-map-pin:before {
	content: "\f276";
}
.rcci-map-signs:before {
	content: "\f277";
}
.rcci-map-o:before {
	content: "\f278";
}
.rcci-map:before {
	content: "\f279";
}
.rcci-commenting:before {
	content: "\f27a";
}
.rcci-commenting-o:before {
	content: "\f27b";
}
.rcci-houzz:before {
	content: "\f27c";
}
.rcci-vimeo:before {
	content: "\f27d";
}
.rcci-black-tie:before {
	content: "\f27e";
}
.rcci-fonticons:before {
	content: "\f280";
}

