@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* variables */
:root
{
    /* --secondary-color: rgb(247, 147, 58); */
    --field-text-color: rgb(26, 25, 25);
    --field-place-color: rgb(159, 159, 159);
    --text-color: rgb(40, 40, 41);
    --primary-color: rgb(81,46,107);
    --field-color: rgb(250, 228, 202);
    --secondary-color: rgb(247, 147, 58);
    --bg-color: rgb(255,255,255);
    
}
body
{
    font-family: "Jost";
    width: 100%;
    position: relative;
    min-height: 100vh;


    
}

main
{
    padding: 45px 80px;
    position: relative;
    height: auto;
    background-color: rgb(255, 249, 242);
    min-height: 100vh;     
    background-image: url(../images/bg.jpg);
    background-size: cover;

}
main::before
{
    content: "";
    background-image: url(../images/layers.png);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: contain;
}

.logo
{
    display: flex;
    align-items: center;
    height: auto;
    position: relative;
    z-index: 10;
}
.logo-icon
{
    width: auto;
}
.logo-icon img
{
    width: 100%;
}
.logo-text
{
    font-size: 52px;
    color: var(--bg-color);
    font-weight: bold;
    margin-left: 5px;
      
}
.left
{
    margin-top: 100px;
    display: grid;
    width: 100%;
    height: 100%;
    align-content: center;
}
.left, .right
{
    position: relative;
    z-index: 1000;
}
.authorPic
{
    position: relative;
    width: 70%;
}
.author
{
    background-color: var(--primary-color);
    height: 470px;
    width: 100%;
    text-align: center;
    clip-path: inset(-100vw 0 0 0 round 50%);
    position: relative;
}
.author img
{
    width: 100%;
    height: 100%;
    object-position: 0 100%;
    object-fit: cover;
    transition: 1s;
    overflow: visible;
}
.shapes
{
    position: absolute;
    bottom: 80px;
    right: -70px;
}
.shapes .shapeSingle
{
    background-color: var(--bg-color);
    width: 30px;
    height: 30px;
    margin-bottom: 3px;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
}
.chart
{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    width: 143px;
    height: 80px;
    position: absolute;
    bottom: 70px;
    left: -70px;
    padding: 20px 25px;
}
.chart img
{
    width: 100%;
    clip-path: polygon(0 0, 0% 0, 0% 100%, 0 100%);
}
  

.left article
{
    margin-top: 40px;
    width: 85%;
}
.left article h1
{
    font-size: 60px;
    color: rgb(255, 254, 254);
    font-weight: bold;
    margin-bottom: 30px;
    line-height: 1;
}
.left article p
{
    font-size: 19px;
    color: var(--bg-color);
}






.wrapper
{
    height: 100%;
    display: grid;
    align-content: center;
    min-height: 500px;
}

form
{
    overflow: hidden;
    border-radius: 30px;
    background-color: var(--bg-color);
    height: auto;
    padding: 60px 80px;
}

.input-field
{
    width: 100%;
    padding-bottom: 40px;
}
.input-field label, .check-field label
{
    font-size: 18px;
    color: var(--field-text-color);
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
}
.input-field label i, .check-field label i
{
    margin-right: 10px;
}
.input-field label span, .check-field label span
{
    color: var(--secondary-color);
}
.input-field input
{
    font-size: 17px;
    color: var(--field-place-color);
    background-color: transparent;
    border: 0;
    border-bottom: solid 3px var(--field-color);
    width: 100%;
    position: relative;
    transition: .4s ease;

}
.input-field input+span
{
    display: block;
    position: relative;
}
.input-field input:focus
{
    outline: none;
    transition: 0.4s ease;
}
.input-field input+span::after
{
    content: "";
    background-color: var(--secondary-color);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    transition: 0.4s ease;
}
.input-field input:focus+span::after
{
    width: 100%;
}
.input-field textarea
{
    height: 40px;
}
.check-field input[type=checkbox]
{
    -webkit-appearance: none;
    border: solid 2px rgb(184, 183, 180);
    border-radius: 6px;
    background-color: rgb(255, 255, 255);   
    width: 22px;
    height: 22px;
    transition: 0.4s ease;
    cursor: pointer;
}
.check-field input[type=checkbox]:checked
{
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    position: relative;
}
.check-field input[type=checkbox]:checked::before
{
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 14px;
    width: 100%;
    color: rgb(255, 255, 255);
    position: absolute;
    display: grid;
    place-content: center;
}
.check-single
{
    display: flex;
    flex-wrap: wrap;
}

.check-single label
{
    font-size: 16px;
    color: var(--field-text-color);
    margin-left: 15px;
}
.submit
{
    width: 188px;
    height: 60px;
    margin-top: 15px;
}
.submit button
{
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    border: solid 2px transparent;
    transition: 0.4s ease;
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    position: relative;
}
.submit button span
{
    margin-left: 10px;
    display: inline-block;
    transform: translateX(-200%);
    opacity: 0;
    transition: 0.4s ease;
    position: absolute;
}
.submit button:hover span
{
    opacity: 1;
    transform: translateX(0);
}








.left-shape, .right-shape
{
    position: absolute;
    top: 0;
}
.left-shape
{
    left: 0;
}
.right-shape
{
    right: 0;
}






















.thankyou-page .logo
{
    justify-content: center;
    margin-top: 60px;
}
.thankyou-page .logo-icon
{
    width: 55px;
    margin-right: 10px;
}
.thankyou-page .logo .logo-icon img
{
    width: 100%;
}
.thankyou-page .logo-text
{
    font-size: 65px;
}
.thankyou-page .main-inner
{
    background-image: url(../images/thankyou-bg.png) !important;
    background-color: var(--text-color-hover);

}
.thankyou-page article
{
    text-align: center;
    margin-top: 80px;
}
.thankyou-page article h1
{
        font-size: 75px;
        font-weight: bold;
        text-transform: uppercase; 
}
.thankyou-page article h1 span
{
    display: block;
    font-size: 80px;
    font-weight: 900;
    color: var(--primary-color);
}
.thankyou-page article span
{
    font-size: 20px;
    color: var(--primary-color);
    font-weight: 500;
}
.thankyou-page article p
{
    font-size: 18px;
    font-family: "Myriad Pro";
    color: var(--secondary--text-color);
    margin: 0 auto;
    margin-top: 45px;
    width: 39%;
}
.social-media
{
    text-align: center;
    margin: 40px auto;
    background-color: var(--text-color-hover);
    width: 30%;
    padding: 6px 10px;
}
.social-media a
{
    border: solid 1px rgb(244, 244, 244);
    border-radius: 5px;
    background-color: transparent;
    color: var(--secondary--text-color);
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
}
.social-media a i
{
    margin-right: 10px;
    font-size: 20px;
}
.back-home
{
    width: 188px;
    height: 63px;
    margin: 0 auto;
}
.back-home a
{
    background-color: var(--primary-color);
    border-radius: 50px;
    color: var(--text-color-hover);
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 63px;
    font-size: 17px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: 0;

}







#sub img
{
    width: 60px;
}

.highlight
{
    border-top: solid 3px var(--primary-color) !important;
    border-bottom: solid 3px var(--primary-color) !important;

}













#error
{
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 20;
}


.invalid
{
  border-bottom: solid 3px #ff4444 !important;
  position: relative;
}