.slideTop {
  animation: slide forwards 1s cubic-bezier(0.23, 1, 0.32, 1);
}
@keyframes slide {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.slideTopRev {
  animation: slideRev forwards 1s cubic-bezier(0.23, 1, 0.32, 1);
}
@keyframes slideRev {
  to {
    opacity: 0;
    transform: translateY(-100px);
  }
  from {
    opacity: 1;
    transform: translateX(0);
  }
}
